article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
    font-size:62.5%;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size:1.6rem;
}
.background {
    height:100vh;
    width:100%;
    background-size:cover;
    background-position:center;
    background-image:linear-gradient(to bottom, rgba(255,255,255,0.8),rgba(255,255,255,1)80%), url('../assets/sweet-ice-cream-photography-435349-unsplash.jpg');
}


// General Styles
h2 {
    font-size:3rem;
}

ul {
    padding:0;
    li {
        list-style: none;
    }
}

button {
    background:none;
    border-style:none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.wrapper {
    margin:0 auto;
    max-width:1080px;
    width:80%;
}


// Main Splash Page
.splashPage {
    @media (max-width:555px) {
        text-align:center;
    }
    h1 {
        line-height:1;
        font-size:9rem;
        margin:0;
        &:first-child {
            padding-top:150px;
            font-size:8rem;
            @media (max-width:555px) {
                padding-top:100px;
                font-size:5rem;
            }
        }
        @media (max-width:555px) {
            font-size:6rem;
        }
    }
    .splashCaption {
        padding:10px;
        p {
            font-size:2.5rem;
            margin:0;
        }
    }
}

// Top Navigation
nav {
    border-bottom:2px solid rgb(175, 2, 117);
    padding:20px 0;
    .splashPage-header {
        display:flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width:468px) {
            flex-direction:column;
        }
        h2 {    
            letter-spacing:1px;
            font-size: 4rem;
            color:black;
            @media (max-width:468px) {
                text-align:center;
            }            
        }
    }
    ul {
        display:flex;
        justify-content: flex-end;
        @media (max-width:480px) {
            justify-content: space-around;

        }
        li {
            margin-left:25px;
            font-size:2rem;
            padding-bottom:5px;
            font-size:1.6rem;
            font-weight:700;
            display: inline-block;
            cursor:pointer;
            text-transform: uppercase;    
            @media (max-width:480px) {
                margin-left:0;
            }  
        }
        a {
            background:rgba(255,255,255,0.5);
            border-radius:30px;
            border:2px solid rgb(175, 2, 117);
            padding: 15px 35px;
            color: rgb(175, 2, 117);
            text-decoration:none;
            transition:all 0.5s ease;
            &:hover {
                background:rgb(175, 2, 117);
                color:white;
            }
        }
    }
    .signOut {
        display:flex;
        justify-content: flex-end;
        .btn-signOut {
            padding-bottom:5px;
            font-size:1.6rem;
            font-weight:700;
            border-radius:30px;
            color: rgb(175, 2, 117);
            display: inline-block;
            cursor:pointer;
            border:1px solid rgb(175, 2, 117);
            padding: 15px 35px;
            text-transform: uppercase;
            transition:all 0.5s ease;
            &:hover {
                background:rgb(175, 2, 117);
                color:white;
            }
        }
    }
}


// Add a Person Card

.icon-add {
    position:fixed;
    right:30px;
    bottom:30px;
    font-size:4.5rem;
    z-index:15;
    color:rgba(0,0,0,0.6);
    transition:all 0.5s ease;
    &:hover {
        color:rgba(0, 0, 0, 0.8);     
    }
}

.form-addPersonCard {
    position:fixed;
    opacity:0;
    visibility: hidden;
    z-index:10;
    background:white;
    padding:20px 30px;
    border-radius:25px;
    width:380px;
    box-shadow: 0px 11px 51px 6px #d0d0d0;
    @media (max-width:468px) {
        width:300px;
    }
    h3 {
        text-align:center;
        line-height:1.5;
    }
    .inputGroup {
        display:flex;
        justify-content: space-between;
        flex-direction:column;
        padding-bottom:20px;
    }
    label {
        font-size:1.8rem;
        font-weight:700;
        color:rgb(124, 124, 124);
        text-align: left;
        padding:5px 0 10px;
        margin-right:10px;
    }
    input, textarea, .submit {
        border-style:none;
        -moz-appearance: none;
        -webkit-appearance: none;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        padding-bottom:5px;
    }
    input[type=text], input[type=date] {
        border-bottom:1px solid darkgrey;
    }
    textarea {
        background: rgba(216, 216, 216, 0.7);
        border-radius:10px;
        padding:10px;
    }
    .submit {
        cursor: pointer;
        position:relative;
        left:50%;
        transform: translateX(-50%);
        font-size:3.5rem;
        background:transparent;
        color:rgb(175, 99, 122);
        transition:all 0.5s ease;
        &:hover {
            color:rgb(138, 58, 72);
        }
        
    }
}
.form-addPersonCard.show {
    opacity:1;
    visibility: visible;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}


// People Cards
.peopleCards {
    padding-top:30px;
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    .personCard {
        background:white;
        flex:1 0 300px;
        border-radius:10px;
        box-shadow: 0px 0px 59px -14px rgba(0,0,0,0.69);
        padding:20px;   
        margin:10px;
        position:relative;
        border-radius:20px;
        h2.personCard-name {
            text-transform: capitalize;
            font-size:2.5rem;
            letter-spacing:1.1px;
            position:relative;
            margin-bottom:10px;
        }
        h3 {
            font-size:1.6rem;
            margin-bottom:0px;
            color:rgb(151, 151, 151);
        }
        li {
            &:first-letter {
            text-transform: uppercase;
            }
        }
        p {
            margin:0;
        }
        .remove-btn {
            position:absolute;
            right:20px;
            top:20px;
            border:none;
            background-image:none;
            background-color:transparent;
            box-shadow: none;
            font-size:2.5rem;
            color:rgba(221, 3, 3, 0.281);
            &:hover {
                color:darken(rgba(221, 3, 3, 0.5), 30);
            }
        }
    }
    .personCard-general {
        display:flex;
        .personCard-photo img {
            border-radius:50%;
        }
        .personCard-bg {
            padding-left:10px;
        }
    }
    .personCard-info {
        margin-bottom:10px;
    }
    .btn-uploadPhoto {
        position:relative;
        left:50%;
        transform: translateX(-50%);
        border:1px solid rgb(175, 2, 117);
        font-size:1.3rem;
        font-weight:700;
        border-radius:30px;
        color: black;
        padding: 15px 35px;
        margin: 10px 0; 
        display: inline-block;
        cursor:pointer;
        text-transform: uppercase;
        transition:all 0.5s ease;
        &:hover {
            color:white;
            background:rgb(175, 2, 117);
        }
    }
    .photoUploaded {
        width:200px;
        margin:0 auto;
        button {            
            border-radius:50%;               
            position:relative;
            left:50%;
            transform: translateX(-50%);
            padding:10px;
            transition:all 0.5s ease;
            &:hover {
                color:rgb(175, 2, 117);
            }
        }
        img {
            max-height:200px;
            width:100%;
            object-fit:cover;
        }
    }
}


// Sign-In & Create User Form
.form-createUser, .form-signIn {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    @extend .form-addPersonCard;
    width:300px;
    z-index:10;
    h2 {
        font-size:2.5rem;
    }
    .inputGroup {
        display:flex;
        justify-content: space-between;
        flex-direction:column;
        padding-bottom:20px;
        label {
            padding-bottom:5px;
        }
        input {
            display:block;
        }
        input[type="password"] {
            border-bottom:1px solid darkgrey;            
        }
    }
    input[type=submit] {
        font-size:1.5rem;
        font-weight:700;
        border-radius:25px;
        color: rgb(175, 2, 117);
        display: inline-block;
        cursor:pointer;
        border:1px solid rgb(175, 2, 117);
        padding: 15px;
        text-transform: uppercase;
        line-height:1;
        background:white;
        transition:all 0.5s ease;
        &:hover {
            background:rgb(175, 2, 117);
            color:white;
        }
    }
    .exit-form {
        float:right;
        color:rgb(94, 94, 94);
        padding:0;
    }
}

.logGroup {
    display:flex;
}

.form-createUser {
    .logGroup {
        justify-content:center;
    }
}

.form-signIn {
    .logGroup {
        padding:20px 0;
        justify-content:space-between;
        flex-direction: row-reverse;
    }
}
.btn-google {
    font-size:1.6rem;
    font-weight:700;
    border-radius:50%;
    color: rgb(175, 2, 117);
    display: inline-block;
    cursor:pointer;
    text-transform: uppercase;
    line-height:1;
    transition:all 0.5s ease;
    &:hover {
        color:white;
    }
}

// Toggled Class for Pop-ups
.show {
    opacity:1;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    visibility: visible;
    
            transition:all 0.5s ease;
}
