article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem; }

.background {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: right;
  background-image: url("../assets/plant-note.jpg");
  background-size: 50%;
  background-repeat: no-repeat; }

h2 {
  font-size: 3rem; }

ul {
  padding: 0; }
  ul li {
    list-style: none; }

button {
  border-style: none;
  background: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0; }

.wrapper {
  margin: 0 auto;
  max-width: 1170px;
  width: 90%; }

@media (max-width: 555px) {
  .splashPage {
    text-align: center; } }

.splashPage h1 {
  line-height: 1;
  font-size: 9rem;
  margin: 0; }
  .splashPage h1:first-child {
    padding-top: 110px;
    font-size: 8rem; }
    @media (max-width: 768px) {
      .splashPage h1:first-child {
        padding-top: 70px;
        font-size: 6rem; } }
    @media (max-width: 555px) {
      .splashPage h1:first-child {
        font-size: 4rem; } }
    @media (max-width: 480px) {
      .splashPage h1:first-child {
        padding-top: 50px; } }
  @media (max-width: 768px) {
    .splashPage h1 {
      font-size: 5rem; } }
  @media (max-width: 555px) {
    .splashPage h1 {
      font-size: 5rem; } }

.splashPage .splashCaption {
  padding: 10px; }
  .splashPage .splashCaption p {
    font-size: 2.5rem;
    margin: 0; }
    @media (max-width: 480px) {
      .splashPage .splashCaption p {
        font-size: 1.8rem; } }

nav {
  background: #ebebeb;
  padding: 10px 0; }
  nav .splashPage-header {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 468px) {
      nav .splashPage-header {
        flex-direction: column; } }
    nav .splashPage-header h2 {
      letter-spacing: 1px;
      font-size: 4rem;
      color: black; }
      @media (max-width: 468px) {
        nav .splashPage-header h2 {
          text-align: center; } }
  nav ul {
    display: flex;
    justify-content: flex-end; }
    @media (max-width: 480px) {
      nav ul {
        justify-content: space-around; } }
    nav ul li {
      margin-left: 25px;
      font-size: 2rem;
      padding-bottom: 5px;
      font-size: 1.6rem;
      font-weight: 700;
      display: inline-block;
      cursor: pointer;
      text-transform: uppercase; }
      @media (max-width: 480px) {
        nav ul li {
          margin-left: 0; } }
    nav ul a {
      border-radius: 30px;
      padding: 15px 35px;
      color: #494949;
      text-decoration: none;
      transition: all 0.5s ease; }
      nav ul a:hover {
        background: #494949;
        color: white; }
  nav .userTools {
    text-align: center;
    position: relative; }
    nav .userTools:hover .userMenu {
      visibility: visible;
      opacity: 1; }
    @media (max-width: 468px) {
      nav .userTools {
        margin: 0 auto; } }
    nav .userTools .userPic {
      width: 75px;
      height: 75px;
      float: right; }
      @media (max-width: 468px) {
        nav .userTools .userPic {
          margin: 0 auto;
          float: none; } }
      nav .userTools .userPic img {
        width: 100%;
        border-radius: 50%; }
    nav .userTools .userMenu {
      visibility: hidden;
      opacity: 0;
      z-index: 1;
      border-radius: 10px;
      margin: 0;
      clear: both;
      padding: 10px;
      position: absolute;
      background: #d6d6d6;
      right: 33px;
      top: 80%;
      min-width: 150px;
      flex-direction: column;
      justify-content: center; }
      @media (max-width: 468px) {
        nav .userTools .userMenu {
          visibility: visible;
          opacity: 1;
          position: static;
          background: none;
          text-align: center; } }
      nav .userTools .userMenu li {
        margin: 0; }
    nav .userTools .btn-signOut {
      font-weight: 400;
      padding-bottom: 5px;
      font-size: 1.6rem;
      text-transform: none;
      border-radius: 20px;
      display: inline-block;
      cursor: pointer;
      padding: 5px 20px;
      transition: all 0.5s ease;
      color: #666666; }
      nav .userTools .btn-signOut:hover {
        background: white;
        color: #666666; }

.noPeople {
  text-align: center;
  width: 450px; }
  .noPeople h2 {
    margin: 0;
    color: #636363; }
  .noPeople .noPeople-img {
    margin: 0 auto;
    width: 250px; }
    .noPeople .noPeople-img img {
      width: 100%; }

.overlay {
  visibility: hidden;
  opacity: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  text-align: right; }
  .overlay .fa-times {
    color: white;
    margin: 20px;
    font-size: 5rem; }
    @media (max-width: 600px) {
      .overlay .fa-times {
        display: none; } }

.icon-add {
  position: fixed;
  right: 30px;
  bottom: 30px;
  font-size: 4.5rem;
  z-index: 9;
  color: rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease; }
  .icon-add:hover {
    color: rgba(0, 0, 0, 0.8); }

.form-addPersonCard, .form-createUser, .form-signIn {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  background: white;
  padding: 20px 30px;
  border-radius: 25px;
  width: 380px; }
  @media (max-width: 468px) {
    .form-addPersonCard, .form-createUser, .form-signIn {
      width: 300px; } }
  .form-addPersonCard h3, .form-createUser h3, .form-signIn h3 {
    text-align: center;
    line-height: 1.5; }
  .form-addPersonCard .inputGroup, .form-createUser .inputGroup, .form-signIn .inputGroup {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 20px; }
  .form-addPersonCard label, .form-createUser label, .form-signIn label {
    font-size: 1.8rem;
    font-weight: 700;
    color: #7c7c7c;
    text-align: left;
    padding: 5px 0 10px;
    margin-right: 10px; }
  .form-addPersonCard input, .form-createUser input, .form-signIn input, .form-addPersonCard textarea, .form-createUser textarea, .form-signIn textarea, .form-addPersonCard .submit, .form-createUser .submit, .form-signIn .submit {
    border-style: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    padding-bottom: 5px; }
  .form-addPersonCard input[type=text], .form-createUser input[type=text], .form-signIn input[type=text], .form-addPersonCard input[type=date], .form-createUser input[type=date], .form-signIn input[type=date] {
    border-bottom: 1px solid darkgrey; }
  .form-addPersonCard textarea, .form-createUser textarea, .form-signIn textarea {
    background: rgba(216, 216, 216, 0.7);
    border-radius: 10px;
    padding: 10px;
    height: 20px; }
  .form-addPersonCard .submit, .form-createUser .submit, .form-signIn .submit {
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3.5rem;
    background: transparent;
    color: #494949;
    transition: all 0.5s ease; }
    .form-addPersonCard .submit:hover, .form-createUser .submit:hover, .form-signIn .submit:hover {
      color: #2e2e2e; }
  .form-addPersonCard .form-addPersonCard_exit, .form-createUser .form-addPersonCard_exit, .form-signIn .form-addPersonCard_exit {
    display: none; }
    @media (max-width: 600px) {
      .form-addPersonCard .form-addPersonCard_exit, .form-createUser .form-addPersonCard_exit, .form-signIn .form-addPersonCard_exit {
        display: block; } }

.form-addPersonCard.show, .show.form-createUser, .show.form-signIn {
  opacity: 1;
  visibility: visible;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.peopleCards {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: white; }
  .peopleCards .personCard {
    flex: 1 1 280px;
    box-shadow: 0px 0px 59px -14px rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin: 20px;
    position: relative;
    text-align: center; }
    @media (max-width: 468px) {
      .peopleCards .personCard {
        flex-basis: 350px; } }
    .peopleCards .personCard .profile {
      width: 100%;
      height: 200px;
      object-fit: cover;
      position: relative; }
    .peopleCards .personCard h2.personCard-name {
      text-transform: capitalize;
      font-size: 2.5rem;
      letter-spacing: 1.1px;
      position: relative;
      margin-bottom: 10px; }
    .peopleCards .personCard h3 {
      font-size: 1.6rem;
      margin-bottom: 0px;
      color: #979797; }
    .peopleCards .personCard li:first-letter {
      text-transform: uppercase; }
    .peopleCards .personCard p {
      margin: 0; }
    .peopleCards .personCard .remove-btn {
      position: absolute;
      right: 20px;
      top: 20px;
      border: none;
      background-image: none;
      background-color: transparent;
      box-shadow: none;
      font-size: 2.5rem;
      color: rgba(221, 3, 3, 0.281); }
      .peopleCards .personCard .remove-btn:hover {
        color: red; }
  .peopleCards .personCard-general {
    display: flex; }
    .peopleCards .personCard-general .personCard-photo img {
      border-radius: 50%; }
    .peopleCards .personCard-general .personCard-bg {
      padding-left: 10px; }
  .peopleCards .personCard-info {
    margin-bottom: 10px; }
  .peopleCards #editHover {
    cursor: pointer; }
    .peopleCards #editHover:hover {
      color: #464646; }
  .peopleCards .btn-uploadPhoto {
    position: relative;
    border: 1px solid #494949;
    font-size: 1.3rem;
    font-weight: 700;
    border-radius: 30px;
    color: black;
    padding: 15px 35px;
    margin: 10px 0;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.5s ease; }
    .peopleCards .btn-uploadPhoto:hover {
      color: white;
      background: #494949; }
  .peopleCards .photoUploaded, .peopleCards .photoSaved {
    width: 100%;
    margin: 0 auto; }
    .peopleCards .photoUploaded button, .peopleCards .photoSaved button {
      border-radius: 50%;
      position: relative;
      padding: 10px;
      transition: all 0.5s ease; }
      .peopleCards .photoUploaded button:hover, .peopleCards .photoSaved button:hover {
        color: #494949; }
    .peopleCards .photoUploaded img, .peopleCards .photoSaved img {
      max-height: 200px;
      width: 100%;
      object-fit: cover; }

.form-createUser, .form-signIn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  z-index: 10; }
  .form-createUser h2, .form-signIn h2 {
    font-size: 2.5rem; }
  .form-createUser .inputGroup, .form-signIn .inputGroup {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 20px; }
    .form-createUser .inputGroup label, .form-signIn .inputGroup label {
      padding-bottom: 5px; }
    .form-createUser .inputGroup input, .form-signIn .inputGroup input {
      display: block; }
    .form-createUser .inputGroup input[type="password"], .form-signIn .inputGroup input[type="password"] {
      border-bottom: 1px solid darkgrey; }
  .form-createUser input[type=submit], .form-signIn input[type=submit] {
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 25px;
    color: #494949;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #494949;
    padding: 15px;
    text-transform: uppercase;
    line-height: 1;
    background: white;
    transition: all 0.5s ease; }
    .form-createUser input[type=submit]:hover, .form-signIn input[type=submit]:hover {
      background: #494949;
      color: white; }
  .form-createUser .exit-form, .form-signIn .exit-form {
    float: right;
    color: #5e5e5e;
    padding: 0; }

.logGroup {
  display: flex; }

.form-createUser .logGroup {
  justify-content: center; }

.form-signIn .logGroup {
  padding: 20px 0;
  justify-content: space-between;
  flex-direction: row-reverse; }

.btn-google {
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 50%;
  color: #494949;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 1;
  transition: all 0.5s ease; }
  .btn-google:hover {
    color: white; }

.show {
  opacity: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: visible;
  transition: all 0.5s ease; }

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 468px) {
    .flexContainer {
      flex-direction: column; } }
